<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/#">Navbar by DAVID MARTINEZ ROS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/page2">Page 2 <span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/page3">Page 3 <span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/page4">Page 4 <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>-->

<mat-sidenav-container  color="primary"
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #appDrawer (keydown.escape)="close('escape')" disableClose color="primary">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="appDrawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span style="padding: 10px">Menu</span>
    </mat-toolbar>
    <!--
    <p>
      <button mat-icon-button (click)="close('toggle button')">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
    -->
    <button mat-menu-item routerLink="/#" style="padding:10px">
      Navbar by DAVID MARTINEZ ROS
      <br/>
      <img src="./assets/images/icon.png" width="64" height="64"/>
    </button>
    <!--
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->
    <mat-divider></mat-divider> 
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="appDrawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span style="padding: 10px">NavBar DAVID MARTINEZ ROS</span>
    </mat-toolbar>
    <!--
    <p>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="navbar-brand" routerLink="/#">Navbar by DAVID MARTINEZ ROS</a>
    </p>
    -->
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>